.logo-uphold {
  height: 48px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-uphold:hover {
  filter: drop-shadow(0 0 1.5em #84fb7fcc) drop-shadow(0 0 0.5em #86cef8aa);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;

  .logo-container {
    flex: 0;
  }
  .card {
    flex: 1;

    &.button-container {
      display: flex;
      justify-content: flex-end;
      button {
        border-radius: 32px;
      }
    }
  }
}
