.entry-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
  max-height: calc(35vh - 32px - 48px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.entry-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
