.entry-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px;
}

.entry-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
