.currency-skeleton {
  display: inline-block;
  background: linear-gradient(90deg, #fcf3f3 25%, #e5e7eb 50%, #f3f7fc 75%);
  background-size: 200% 100%;
  animation: currency-skeleton-loading 1.2s infinite linear;
}

.currency-skeleton-amount {
  width: 6em;
  height: 1.2em;
  border-radius: 0.6em;
}

.currency-skeleton-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.currency-skeleton-code {
  width: 3em;
  height: 1.2em;
  border-radius: 0.6em;
}

.entry-item-container {
  display: flex;
  flex-direction: row;
}
@keyframes currency-skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
